<?xml version="1.0" encoding="UTF-8"?>
<Configuration>

  <Properties>
    <Property name="log_filename">fbp.log</Property>
    <Property name="database_name">fbp</Property>
  </Properties>

  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout>
        <Pattern>%style{%d{HH:mm:ss}}{white,bright},%d{SSS} %magenta{[%t]} %highlight{%-5p}{TRACE=blue} %replace{%c{3.}}{net\.tal\.}{} - %m%n</Pattern>
      </PatternLayout>
    </Console>
    <File name="LogFile" append="false" fileName="${log_filename}" immediateFlush="true" bufferedIO="true">
      <PatternLayout>
        <Pattern>%d{yyyy/MM/dd HH:mm:ss,SSS} [%t] %-5p %c - %m%n</Pattern>
      </PatternLayout>
    </File>
    <JDBC name="Database" tableName="${database_name}.logs">
      <ConnectionFactory class="net.talentum.fbp.database.DatabaseManager" method="getConnection" />
      <Column name="date" isEventTimestamp="true" />
      <Column name="thread" pattern="%thread" />
      <Column name="level" pattern="%level" />
      <Column name="logger" pattern="%logger" />
      <Column name="message" pattern="%message" />
      <Column name="throwable" pattern="%ex{full}" />
    </JDBC>
  </Appenders>

  <Loggers>
    <Root level="all">
      <AppenderRef ref="Console"/>
      <AppenderRef ref="LogFile"/>
    </Root>
    <Logger name="snaq.db.ConnectionPool" level="info">
      <RegexFilter regex=".*Getting connection.*" onMatch="DENY" onMismatch="NEUTRAL" />
    </Logger>
  </Loggers>

</Configuration>
