<?xml version="1.0" encoding="UTF-8"?>
<Configuration packages="net.talentum.fbp.logging">

  <Appenders>
    <Test name="Test"></Test>
    <Stack name="TestStack"></Stack>
    <Internal></Internal>
  </Appenders>

  <Loggers>
    <Root level="all"></Root>
    <Logger name="net.talentum.fbp.logging">
      <AppenderRef ref="Test" />
      <AppenderRef ref="TestStack" />
      <AppenderRef ref="Internal" />
    </Logger>
  </Loggers>

</Configuration>
